*{
    background-color: rgb(255, 151, 229);
}
 form label{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-size: oblique;
    margin: 20px;
    margin-top: 20px;
 }
 form input{
    border-radius: 5px;
    border: 0.5px solid;
 }
 form input{
    color: rgb(149, 0, 204);
    background-color: rgb(220, 139, 255);
 }
 